{% extends 'DivonaStandingsBundle::layout_simple.html.twig' %}

{% block page_header %}
    <h1>
        {% trans from "DivonaStandingsBundle" %}
            game.delete.title
        {% endtrans %}
    </h1>
{% endblock %}

{% block content %}
    <form action="{{ path('DivonaStandingsBundle_standings_delete', { 'id': game.id }) }}" method="post">
        <p>
            {% trans with {
                    '%player1username%': game.player1.username,
                    '%scoreplayer1%': game.scorePlayer1,
                    '%player2username%': game.player2.username,
                    '%scoreplayer2%': game.scorePlayer2,
                    '%createdat%': game.createdAt|date('game.delete.dateformat'|trans({}, 'DivonaStandingsBundle'))
                } from "DivonaStandingsBundle" %}
                game.delete.message
            {% endtrans %}
        </p>
        <p>
            <input type="submit" class="btn danger" value="{{ 'game.delete.confirm'|trans({}, 'DivonaStandingsBundle') }}">
            <a href="{{ path('DivonaStandingsBundle_standings_list') }}" class="btn">{{ 'game.delete.cancel'|trans({}, 'DivonaStandingsBundle') }}</a>
        </p>
    </form>

{% endblock %}
