{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/divonastandings/css/standings.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="content" class="span16">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}