{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/divonastandings/css/standings.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="content" class="span12">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar" class="span4">
        {% block sidebar %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p class="clearfix center">
                    <a href="{{ path('DivonaStandingsBundle_standings_add_game') }}" class="btn large primary">
                        {% trans from "DivonaStandingsBundle" %}
                            game.add.button
                        {% endtrans %}
                    </a>
                </p>
            {% endif %}
            {% render "DivonaStandingsBundle:Partial:standing" with { 'granularity': 'month' } %}
            {% render "DivonaStandingsBundle:Partial:latestGames" with { 'limit': 5 } %}
        {% endblock %}
    </div>
{% endblock %}