DivonaStandingsBundle_homepage:
    pattern:  /
    defaults: { _controller: DivonaStandingsBundle:Page:index }
    requirements:
        _method:  GET

DivonaStandingsBundle_contact:
    pattern:  /contact
    defaults: { _controller: DivonaStandingsBundle:Page:contact }
    requirements:
        _method:  GET|POST

DivonaStandingsBundle_standings_show:
    pattern:  /standings
    defaults: { _controller: DivonaStandingsBundle:Standings:show }
    requirements:
        _method:  GET

DivonaStandingsBundle_standings_show_week:
    pattern:  /standings/week
    defaults: { _controller: DivonaStandingsBundle:Standings:show, granularity: "week" }
    requirements:
        _method:  GET

DivonaStandingsBundle_standings_show_month:
    pattern:  /standings/month
    defaults: { _controller: DivonaStandingsBundle:Standings:show, granularity: "month" }
    requirements:
        _method:  GET

DivonaStandingsBundle_standings_show_year:
    pattern:  /standings/year
    defaults: { _controller: DivonaStandingsBundle:Standings:show, granularity: "year" }
    requirements:
        _method:  GET

DivonaStandingsBundle_standings_show_all:
    pattern:  /standings/all
    defaults: { _controller: DivonaStandingsBundle:Standings:show, granularity: "all" }
    requirements:
        _method:  GET

DivonaStandingsBundle_standings_list:
    pattern:  /games
    defaults: { _controller: DivonaStandingsBundle:Standings:list }
    requirements:
        _method:  GET

DivonaStandingsBundle_standings_delete:
    pattern:  /games/delete/{id}
    defaults: { _controller: DivonaStandingsBundle:Standings:delete }
    requirements:
        _method:  GET|POST
        id: \d+

DivonaStandingsBundle_standings_add_game:
    pattern:  /standings/add_game
    defaults: { _controller: DivonaStandingsBundle:Standings:addGame }
    requirements:
        _method:  GET|POST