/* Styles you shouldn't keep as they are for displaying this base example only */
#content,
#sidebar {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
#sidebar {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}
